
@{
    ViewBag.Title = "ShowAllStudents";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Webbase/ConstantValues.js"></script>
<script src="~/Scripts/Student/Student.js"></script>

<h2>Student List</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>EmailId</th>
        </tr>
    </thead>
    <tbody id="studentsBody">

    </tbody>
   
</table>